@media only screen
and (min-width : 200px) {
    .header_logo {
        margin-bottom: -5px;
        display: inline;
        width: 75px;
        height: 50px;
    }
    
    .text_header {
        margin-top: 10px;
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .6em;
        margin-left: 3%;
    }
    
        #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 250px;
        height: 175px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #detail_list {
        font-size: .65em;
    }
}

@media only screen
and (min-width : 300px)
and (max-width : 349px) {
    .header_logo {
        margin-top: -5px;
        margin-bottom: -10px;
        display: inline;
        width: 100px;
        height: 80px;
    }
    
    .text_header {
        margin-top: 20px;
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .6em;
    }
    
        #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 300px;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #design_list {
        font-size: .8em;
    }
}

@media only screen
and (min-width : 350px)
and (max-width : 520px) {
    .header_logo {
        margin-bottom: 10px;
        margin-bottom: -20px;
        display: inline;
        width: 110px;
        height: 90px;
    }
    
    .text_header {
        margin-top: 25px; 
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .6em;
        margin-left: 3%;
    }
    
    #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 325px;
        height: 225px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #detail_list {
        font-size: .8em;
    }
    
}

@media only screen
and (min-width : 520px)
and (max-width : 770px) {
    .header_logo {
        display: inline;
        width: 125px;
        height: 100px;
    }
    
    .text_header {
        margin-top: 35px;
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .65;
        margin-left: 7%;
    }
    
        #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 500px;
        height: 375px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #detail_list {
        font-size: .9em;
    }
}

@media only screen
and (min-width : 770px)
and (max-width : 1096px) {
    .header_logo {
        display: inline;
        width: 150px;
        height: 125px;
    }
    
    .text_header {
        margin-top: 45px;
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .7em;
        margin-left: 10%;
    }
    
    #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 600px;
        height: 450px;
        margin: 5px 100px 20px;
    }
    
    #detail_list {
        font-size: 1em;
    }
}

@media only screen
and (min-width : 1096px)
and (max-width : 1284px) {
    .header_logo {
        display: inline;
        width: 180px;
        height: 150px;
    }
    
    .text_header {
        margin-top: 60px;
        margin-right: 10px;
        display: inline;
        float: right;
    }
    
    .list_image {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .list_text {
        margin-top: 6px;
        font-size: 1.1 em;
        font-weight: bold;
    }
    
    .footer p {
        font-size: .8em;
        margin-left: 130px;
    }
    
    #current_info th {
        text-align: right;
        margin: 0;
    }
    
    #design_image {
        width: 650px;
        height: 475px;
        margin: 5px 210px 20px;
    }
    
    #detail_list {
        font-size: 1em;
    }
}

.container {
    margin: 0 auto;
}

#main_logo {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    margin-bottom: -10px;
}

#detail_list {
    text-align: left;
    margin-bottom: 10px;
}

#detail_list td{
    padding-left: 15px;
}

#delete_header {
    margin-left: 15px;
}

#comment_form {
    margin-top: 35px;
}
    
.home_text_links {
    font-size: .9em;
    margin-top: 30px;
    margin-bottom: 0px;
}

.footer p {
    display: inline;
}